{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock  %}

{% block contenido %} 

Sección de Nosotros
{% load static %}


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2>Nuestra Historia</h2>
            <p>
                Librería Sur tiene un propósito, que se mantiene inalterable desde que entró en funciones en agosto de 2012: 
                ser un espacio de encuentro e intercambio cultural con los lectores. Además, somos herederos de la tradición 
                librera de Eduardo Sanseviero, quien nos enseñó no solo el amor por este oficio, sino también a respetarlo mediante 
                la personalidad del librero. Amor y respeto por el libro es lo que encuentran los lectores en nuestros estantes, que 
                exhiben una riqueza bibliográfica centrada en las humanidades, el arte y el pensamiento. Somos lectores y nos apasiona
                ser libreros.
            </p>
        </div>
        <div class="col-md-6">   

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h2>Nuestro Equipo</h2>
            <p>
                Contamos con un equipo apasionado y dedicado de expertos en libros. Desde nuestros libreros hasta
                nuestro personal de atención al cliente, todos compartimos la misma misión: fomentar el amor por
                la lectura y proporcionar a nuestros clientes una experiencia excepcional.
            </p>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        <h2>¿Por qué Sur?</h2>
        <p>
            "He dicho Escuela del Sur; porque en realidad, nuestro norte es el Sur. No debe haber norte, para nosotros, sino por oposición a nuestro Sur. Por eso ahora ponemos el mapa al revés, y entonces ya tenemos justa idea de nuestra posición, y no como quieren en el resto del mundo. La punta de América, desde ahora, prolongándose, señala insistentemente el Sur, nuestro norte”.

            <p><Strong>De: Escuela del Sur</Strong></p>

            <p><Strong>Por: Joaquín Torres García (artista uruguayo)</Strong></p>
        </p>
    </div>
</div>
</div>

{% endblock  %}

